<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <title>Meu perfil!</title>
</head>

<body>
    <nav>
        <div class="div"></div>
            <a href="/thomas">Sobre mim</a>
            <a href="/projects">Meus projetos!</a>
            
    </nav>