/* Exemplo de CSS servido estaticamente pelo Express.
Autor: Fabrício G. M. de Carvalho
*/
body {
    background-color: #1F1C18;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 10pt;
    width: 170pt;
    height: 150pt;
    background-color: #8E0E00;
    border-radius: 20%;
    text-align: center;
    padding-top: 70pt;
    border-color: black;
    border-style: solid;
    float: left;
}

.descritor {
    font-weight: bold;
}
